body{
    background-image: url(music.lg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    height: 100
    position: relative;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: centre;
    justify-content: space-between;
    border:15px solid turquoise;
    border-radius: 10px;
    background-color: lawngreen;
}
.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 0 15px;
    size: 80px;
    padding: 2px 0px 0px 0px;
    font-size: 40px;
    font-style: inherit;
    font-weight: bold;
}
h1{
    font-size: 70px;
    font-style: italic;
    color:purple;
}
h2{
    font-size: 40px;
    font-style: oblique;
    color: lawngreen;
}
.tmis{
    display:flex;
    justify-content:space-between;
}
.ptsn{
    display:flex;
    justify-content:space-between;
}
h4{
    color: rebeccapurple;
}
.copyright{
 padding::  0 0 0 50px;
 color: #fff;
 font-weight: bold;
 width: 24%;
 background-color: green;
}
h3{
    color: salmon;
}
.prghp{
    float: left;
}
